@model TalkLikeTv.Mvc.Models.CreateAudioViewModel

<div class="row">
    <div class="col-md-12">
        <h3>Language to learn from</h3>
        <div id="language-columns">
            <ul class="list-group">
                @if (Model is not null)
                {
                    @foreach (Language l in @Model.Languages)
                    {
                        <div class="form-check">
                            <input class="form-check-input language-radio" type="radio" name="language" value="@l.LanguageId" id="@l.LanguageId">
                            <label class="form-check-label" for="@l.LanguageId">
                                @l.Name - @l.NativeName
                            </label>
                        </div>
                    }
                }
            </ul>
        </div>
    </div>
</div>