@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CreateTitleViewModel

@{
    ViewData["Title"] = "Create Title";
}
<h1>@ViewData["Title"]</h1>
@if (Model.HasErrors)
{
    <div id="error-messages">
        @foreach (string errorMessage in Model.ValidationErrors)
        {
            <div class="alert alert-danger" role="alert">@errorMessage</div>
        }
    </div>
}
<hr />
<table class="table table-sm">
    <tbody>
        <tr>
            <td>
                <h1 class="smaller-heading">To Voice</h1>
                <dl class="dl-horizontal">
                    <dt>Display Name</dt>
                    <dd>@Model.ToVoice?.DisplayName</dd>
                    <dt>Locale Name</dt>
                    <dd>@Model.ToVoice?.LocaleName</dd>
                    <dt>Gender</dt>
                    <dd>@Model.ToVoice?.Gender</dd>
                    @if (Model.ToVoice?.Styles.Count > 0)
                    {
                        <dt>Styles</dt>
                        foreach (var s in Model.ToVoice?.Styles)
                        {
                            <dd>@s.StyleName</dd>
                        }
                    }
                    @if (Model.ToVoice?.Scenarios?.Count > 0)
                    {
                        <dt>Scenarios</dt>
                        foreach (var s in Model.ToVoice.Scenarios)
                        {
                            <dd>@s.ScenarioName</dd>
                        }
                    }
                    @if (Model.ToVoice?.Personalities?.Count > 0)
                    {
                        <dt>Personalities</dt>
                        foreach (var p in Model.ToVoice.Personalities)
                        {
                            <dd>@p.PersonalityName</dd>
                        }
                    }
                </dl>
            </td>
            <td>
                <h1 class="smaller-heading">From Voice</h1>
                <dl class="dl-horizontal">
                    <dt>Display Name</dt>
                    <dd>@Model.FromVoice?.DisplayName</dd>
                    <dt>Locale Name</dt>
                    <dd>@Model.FromVoice?.LocaleName</dd>
                    <dt>Gender</dt>
                    <dd>@Model.FromVoice?.Gender</dd>
                    @if (Model.FromVoice?.Styles.Count > 0)
                    {
                        <dt>Styles</dt>
                        foreach (var s in Model.FromVoice.Styles)
                        {
                            <dd>@s.StyleName</dd>
                        }
                    }
                    @if (Model.FromVoice?.Scenarios.Count > 0)
                    {
                        <dt>Scenarios</dt>
                        foreach (var s in Model.FromVoice.Scenarios)
                        {
                            <dd>@s.ScenarioName</dd>
                        }
                    }
                    @if (Model.FromVoice?.Personalities.Count > 0)
                    {
                        <dt>Personalities</dt>
                        foreach (var p in Model.FromVoice.Personalities)
                        {
                            <dd>@p.PersonalityName</dd>
                        }
                    }
                </dl>
            </td>
        </tr>
        <tr>
            <td>
                <dl class="dl-horizontal">
                    <dt>Pattern</dt>
                    <dd>@Model.Pattern</dd>
                </dl>
            </td>
            <td>
                <dt>Pause</dt>
                <dd>@Model.PauseDuration</dd>
            </td>
        </tr>
    </tbody>
</table>
<br/>
@Html.AntiForgeryToken()
<form asp-action="CreateTitle" asp-controller="Audio" method="post" enctype="multipart/form-data" onsubmit="clearErrorMessages()">
    <input type="hidden" name="ToVoiceId" value="@Model.ToVoice?.VoiceId" />
    <input type="hidden" name="FromVoiceId" value="@Model.FromVoice?.VoiceId" />
    <input type="hidden" name="Pattern" value="@Model.Pattern" />
    <input type="hidden" name="PauseDuration" value="@Model.PauseDuration" />
    <div class="form-group">
        <label for="token">Token</label>
        <input name="token" class="form-control" type="text" id="token" required/>
    </div>
    <div class="form-group">
        <label for="titleName">Title Name</label>
        <input name="titleName" class="form-control" type="text" id="titleName" required/>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input name="description" class="form-control" type="text" id="description" required/>
    </div>

    <div class="form-group">
        <label for="file">File</label>
        <input name="file" class="form-control" type="file" id="file"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Title" class="btn btn-primary"/>
    </div>
</form>

@section Scripts {
    <script>
        function clearErrorMessages() {
            var errorMessagesDiv = document.getElementById('error-messages');
            if (errorMessagesDiv) {
                errorMessagesDiv.innerHTML = '';
            }
        }
    </script>
}